@import url(//db.onlinewebfonts.com/c/5ffb14c9ea41286ce553095f37596444?family=Lab+Grotesque+Web);


body {
 font-family: 'Lab Grotesque Web';
 src: url('fonts/Lab Grotesque Web.ttf') format('truetype');
 margin: 0;
 padding: 0;
}

a {
    text-decoration: none;
}

.header {
  margin-top: 10px;
}


.header-logo-svg  {
    width: auto;
    height: 21px;
    display: block;
    transform: translateY(-2px);
    padding-left: 65px;
    padding-top: 20px;
}
.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 32%;
    padding-right: 32%;
    margin-top: -20px;

}

.header-nav a {
    color: #767676;
    font-size: 17px;
    font-weight: 600;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    margin-top: -32px;
}

.header-download-button {
 border-radius: 24px;
 width: 129px;
 height: 48px;
 background: #eef0f2;
 border: none;
}


.header-download-button a {
    font-weight: 600;
    color: #333;
    font-size: 18px;
}

.main-train {
   margin-left: 220px;
   margin-top: 160px;
}

.main-train-text {
    font-size: 70px;
    line-height: 1.05;
    color: #333;
    font-weight: bold;
}

.main-train h2 {
    line-height: 1.05;
    font-size: 70px;
    color: #04ddb2;
    font-weight: bold;
    margin-top: -20px;
}

.main-train p {
    line-height: 1.5;
    font-size: 25px;
    color: #333;
    margin-top: -40px;
}

.button-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 54%;
  padding-left: 16%;
}

.main-download-button {
    border-radius: 24px;
    width: 160px;
    height: 45px;
    background: #04ddb2;
    border: none;
}

.main-download-button a {
    color: #fff;
    font-weight: 600;
    font-size: 19px;
}
.main-watch-button {
    border: none;
    background: none;
   
}

.main-watch-button a {
    color: #04ddb2;
    font-size: 20px;
    font-weight: 600;
    padding-left: 19px;
}

.main-watch-button-png img {
   width: 25;
   height: 25px;
   padding-right: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.main-mp4 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: -460px;
    
}
   
.main-mp4 video {
       width: 700px;
       height: 700px;
}